@import "tailwindcss";

/* mapeia a Quicksand (do next/font) como fonte padrão */
@theme {
  --font-sans: var(--font-quicksand), system-ui, sans-serif;

  /* FIVE — GREEN SCALE */
  --color-five-green-light: #E2F1BD;
  --color-five-green-medium: #95CD08;
  --color-five-green-dark: #719B07;

  /* FIVE — GRAY SCALE */
  --color-five-gray-light: #E6E6E6;
  --color-five-gray-medium: #D5D5D5;
  --color-five-gray-dark: #6A6A6A;

}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
}
